html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  scroll-behavior: smooth;
}

img {max-width: 100%;}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  @include visually-hidden;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  // max-width: 1200px;
}
